language: php

php:
  - "5.5"
  - "5.6"
  - "7.0"
  - "7.1"
  - hhvm

matrix:
  allow_failures:
  - php: hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-text

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover build/logs/clover.xml